:root{
    --btn: #b6b49f;
    --font-display:#435338;
}

.display{
    font-size: 1rem;
    width: 100%;
    text-align: right;
    font-family: "Unibody 8"
}

.btn{
    font-family: "Unibody 8";
    color:var(--btn)
}